<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
        <title>Job Scrapper</title>
    </head>
    <body>
        <main class="container">
            <!-- 
            {% raw %}
            <h1>Hello to you! My name is {{name}}</h1>
            {% endraw %}
            -->
            <h1>Job Scapper</h1>
            <h4>Waht job do you want?</h4>
            <form action="/search"> 
                <!--모든 form은 기본으로 GET method가 설정되어있다.-->
                <!--GET은 사용자가 action으로 넣은 page로 이동하게되면 input에 넣은 모든 value를 URL에 넣어준다.-->
                <input type="text" name="keyword" placeholder="Write keyword please"/>
                <button>Search</button>
            </form>
        </main>
    </body>
</html>